<form
  class="w-1/2 m-auto"
  [formGroup]="subredditForm"
  (ngSubmit)="onSubmit()"
  #form="ngForm"
>
  <div
    href="#"
    class="block p-6 my-5 w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Create a subreddit
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Create a new Subreddit for people to join and post in
    </p>
  </div>
  <div class="mb-6">
    <label
      for="title"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >Title</label
    >
    <div class="flex">
      <span
        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
      >
        !r/
      </span>
      <input
        id="title"
        formControlName="name"
        type="text"
        class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <ng-container *ngIf="showErrors(form.control.controls['name'])">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">Oops!</span> This field is required!
      </p>
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">Oops!</span> Title is too short! Minimum
        length is 3 characters!
      </p>
    </ng-container>
  </div>
  <div class="mb-6">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >Description</label
    >
    <textarea
      id="description"
      formControlName="description"
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    ></textarea>
    <ng-container *ngIf="showErrors(form.control.controls['description'])">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">Oops!</span> This field is required!
      </p>
    </ng-container>
  </div>
  <button
    type="submit"
    class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
