<div class="grid grid-cols-3 w-2/3 m-auto gap-4">
  <div class="flex w-4/5 flex-col col-span-2 mx-auto">
    <div class="my-7">
      <p class="text-4xl font-semibold dark:text-white">
        r/{{ subreddit?.name }}
      </p>
      <p class="text-2xl dark:text-white">
        {{ subreddit?.description }}
      </p>
    </div>
    <hr />
    <div class="my-5">
      <div *ngIf="posts === undefined || posts.length === 0">
        <p class="text-5xl font-semibold dark:text-white">
          Oops! There are no posts for us to show you :(
        </p>
        <br />
        <p class="text-2xl dark:text-white">
          Add some posts
          <a class="text-blue-600 hover:text-red-500" routerLink="/post/add"
            >here</a
          >
        </p>
      </div>
      <span class="text-3xl"></span>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
  </div>
  <app-dashboard-tile></app-dashboard-tile>
</div>
